<%-include("./partials/header")%> <%-include("./partials/nav")%>

<div class="w-screen flex flex-col items-center justify-between">
  <div
    class="mb-8 mt-5 w-[40%] p-4 border border-gray-200 rounded shadow md:p-6 dark:border-gray-700"
  >
    <div class="flex flex-col items-center justify-center mb-8">
      <img src="./images/icons/fav.png" alt="" />
      <h1 class="text-center text-2xl font-semibold">About SoMid</h1>
      <p class="text-blue-700 mb-5">Know everything about us....</p>
      <p class="text-center mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque natus
        nisi voluptates, nostrum nesciunt fugit explicabo eligendi?
      </p>
      <img src="./images/about.webp" alt="" />
    </div>
  </div>
</div>

<%-include("./partials/footer")%>
