<%-include("./partials/header")%>
 <%-include("./partials/nav")%>

<div class="w-[100%] flex flex-col items-center justify-center bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">

        <div class=" mb-9 w-[40%] p-4  md:p-6">
            <div class="text-center flex flex-col items-center justify-center gap-5">
                <img class="w-40 h-40" src="./images/icons/fav.png" alt="">
                <h1 class="font-medium text-4xl">Welllcome to SoMid</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque blanditiis officiis ea error provident animi amet est non cumque ipsum. Voluptas, natus. Tenetur, impedit dicta. Quasi amet consequuntur mollitia quis.</p>
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><a href="/register">Register Now</a></button>
            </div>
        </div>


    <div
    role="status"
    class="backdrop-blur-sm bg-white/30 mb-8 w-[40%] p-4 border border-gray-200 rounded shadow md:p-6 dark:border-gray-700"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center mb-4">
        <img
          class="w-10 h-10 me-3 text-gray-200 dark:text-gray-700 border rounded-full border-gray-700"
          aria-hidden="true"
          src="./images/img1.jpg"
          alt=""
        />
        <div>
          <div>
            <h2 class="font-semibold">Krishna</h2>
            <p class="text-[0.7vw]">Bhopal</p>
          </div>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Follow
        </button>
      </div>
    </div>
    <div
      class="flex items-center justify-center h-[55vh] mb-2 rounded bg-blue-600 overflow-hidden"
    >
      <img class="h-full object-cover" src="./images/img1.jpg" alt="img1" />
    </div>
    <div class="mb-1 text-[0.7vw]"><p>10 day ago...</p></div>
    <div class="mb-1 text-[0.8vw]"><p>#trending #nature #god .....</p></div>
    <div class="mb-1 text-[0.9vw]">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
    </div>

    <div class="flex items-center justify-between mt-4">
      <div class="flex gap-3">
        <img class="w-6 h-6" src="./images/icons/like.png" alt="" />
        <img class="w-6 h-6" src="./images/icons/share.png" alt="" />
        <img class="w-6 h-6" src="./images/icons/comment.png" alt="" />
      </div>
      <div class="flex gap-1 items-center">
        <p class="text-[0.9vw]">250</p>
        <img class="w-6 h-6" src="./images/icons/view.png" alt="" />
      </div>
    </div>

    <span class="sr-only">Loading...</span>
    </div>

    <div
    role="status"
    class="backdrop-blur-sm bg-white/30 mb-8 w-[40%] p-4 border border-gray-200 rounded shadow md:p-6 dark:border-gray-700"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center mb-4">
        <img
          class="w-10 h-10 me-3 text-gray-200 dark:text-gray-700 border rounded-full border-gray-700"
          aria-hidden="true"
          src="./images/img2.jpg"
          alt=""
        />
        <div>
          <div>
            <h2 class="font-semibold">Krishna</h2>
            <p class="text-[0.7vw]">Bhopal</p>
          </div>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Follow
        </button>
      </div>
    </div>
    <div
      class="flex items-center justify-center h-[55vh] mb-2 rounded bg-blue-600 overflow-hidden"
    >
      <img class="h-full object-cover" src="./images/img2.jpg" alt="img1" />
    </div>
    <div class="mb-1 text-[0.7vw]"><p>10 day ago...</p></div>
    <div class="mb-1 text-[0.8vw]"><p>#trending #nature #god .....</p></div>
    <div class="mb-1 text-[0.9vw]">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
    </div>

    <div class="flex items-center justify-between mt-4">
      <div class="flex gap-3">
        <img class="w-6 h-6" src="./images/icons/like.png" alt="" />
        <img class="w-6 h-6" src="./images/icons/share.png" alt="" />
        <img class="w-6 h-6" src="./images/icons/comment.png" alt="" />
      </div>
      <div class="flex gap-1 items-center">
        <p class="text-[0.9vw]">250</p>
        <img class="w-6 h-6" src="./images/icons/view.png" alt="" />
      </div>
    </div>

    <span class="sr-only">Loading...</span>
    </div>

    <div
    role="status"
    class="backdrop-blur-sm bg-white/30 mb-8 w-[40%] p-4 border border-gray-200 rounded shadow md:p-6 dark:border-gray-700"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center mb-4">
        <img
          class="w-10 h-10 me-3 text-gray-200 dark:text-gray-700 border rounded-full border-gray-700"
          aria-hidden="true"
          src="./images/img3.jpg"
          alt=""
        />
        <div>
          <div>
            <h2 class="font-semibold">Krishna</h2>
            <p class="text-[0.7vw]">Bhopal</p>
          </div>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Follow
        </button>
      </div>
    </div>
    <div
      class="flex items-center justify-center h-[55vh] mb-2 rounded bg-blue-600 overflow-hidden"
    >
      <img
        class="h-full w-full object-cover"
        src="./images/img3.jpg"
        alt="img1"
      />
    </div>
    <div class="mb-1 text-[0.7vw]"><p>10 day ago...</p></div>
    <div class="mb-1 text-[0.8vw]"><p>#trending #nature #god .....</p></div>
    <div class="mb-1 text-[0.9vw]">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
    </div>

    <div class="flex items-center justify-between mt-4">
      <div class="flex gap-3">
        <img class="w-6 h-6" src="./images/icons/like.png" alt="" />
        <img class="w-6 h-6" src="./images/icons/share.png" alt="" />
        <img class="w-6 h-6" src="./images/icons/comment.png" alt="" />
      </div>
      <div class="flex gap-1 items-center">
        <p class="text-[0.9vw]">250</p>
        <img class="w-6 h-6" src="./images/icons/view.png" alt="" />
      </div>
    </div>

    <span class="sr-only">Loading...</span>
    </div>

    <div
    role="status"
    class="backdrop-blur-sm bg-white/30 mb-8 w-[40%] p-4 border border-gray-200 rounded shadow md:p-6 dark:border-gray-700"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center mb-4">
        <img
          class="w-10 h-10 me-3 text-gray-200 dark:text-gray-700 border rounded-full border-gray-700"
          aria-hidden="true"
          src="./images/img4.jpg"
          alt=""
        />
        <div>
          <div>
            <h2 class="font-semibold">Krishna</h2>
            <p class="text-[0.7vw]">Bhopal</p>
          </div>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Follow
        </button>
      </div>
    </div>
    <div
      class="flex items-center justify-center h-[55vh] mb-2 rounded bg-blue-600 overflow-hidden"
    >
      <img
        class="h-full w-full object-cover"
        src="./images/img4.jpg"
        alt="img1"
      />
    </div>
    <div class="mb-1 text-[0.7vw]"><p>10 day ago...</p></div>
    <div class="mb-1 text-[0.8vw]"><p>#trending #nature #god .....</p></div>
    <div class="mb-1 text-[0.9vw]">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
    </div>

    <div class="flex items-center justify-between mt-4">
      <div class="flex gap-3">
        <img class="w-6 h-6" src="./images/icons/like.png" alt="" />
        <img class="w-6 h-6" src="./images/icons/share.png" alt="" />
        <img class="w-6 h-6" src="./images/icons/comment.png" alt="" />
      </div>
      <div class="flex gap-1 items-center">
        <p class="text-[0.9vw]">250</p>
        <img class="w-6 h-6" src="./images/icons/view.png" alt="" />
      </div>
    </div>

    <span class="sr-only">Loading...</span>
    </div>

    <div class="backdrop-blur-sm bg-white/30 mb-8 mt-5 w-[40%] p-4 border border-gray-200 rounded shadow md:p-6 dark:border-gray-700">
  <div class="flex flex-col items-center justify-center mb-8">
      <img src="./images/icons/fav.png" alt="">
      <h1 class="text-center text-2xl font-semibold">Welllcome to SoMid</h1>
  </div>
  <form action="/register" method="post" class="max-w-sm mx-auto">
      <div class="mb-5">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-black"
            >Full Name</label
          >
          <input
            type="name"
            id="name"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
            name="name"
          />
        </div>
        <div class="mb-5">
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-black"
            >Username</label
          >
          <input
            type="username"
            id="username"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
            name="username"
          />
        </div>
        <div class="mb-5">
          <label
            for="phone"
            class="block mb-2 text-sm font-medium text-black"
            >Phone Number</label
          >
          <input
            type="phone"
            id="phone"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
            name="phone"
          />
        </div>
    <div class="mb-5">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-black"
        >Your email</label
      >
      <input
        type="email"
        id="email"
        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
        placeholder="name@flowbite.com"
        name="email"
      />
    </div>
    <div class="mb-5">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-black"
        >Your password</label
      >
      <input
        type="password"
        id="password"
        class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
        name="password"
      />
    </div>
    <div class="flex items-start mb-5">
      <p>Alrady have account please <a class="text-blue-700" href="/login">Login ?</a></p> 
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Register
    </button>
  </form>
    </div>

</div>

<%-include("./partials/footer")%>
